mat-dialog-container {

    mat-dialog-actions {
        align-self: self-end !important;

        button {
            color: #078fde !important;
            font-weight: 580 !important;
        }
    }
}

