
/* Increase the size of wanderingCubes animation */
ngx-loading .spinner-three-bouncee {
    width: 90px !important;
  }
  
  /* Customize for backdrop size (optional) */
  ngx-loading .spinner-three-bounce {
    width: 26px !important;
    height: 26px !important;
  }