
/* Increase the size of wanderingCubes animation */
ngx-loading .spinner-three-bouncee {
    width: 90px !important;
  }
  
  /* Customize for backdrop size (optional) */
  ngx-loading .spinner-three-bounce {
    width: 26px !important;
    height: 26px !important;
  }

  .text-link{
    text-decoration: underline;
    color: #3535e6;
    background: none;
    border: none;
    font-weight: 600 !important;
    padding: 0;
    font: inherit;
    cursor: pointer;
  }