.mat-column-select {
    padding-right: 0 !important;
}

.document-card {
    .mat-mdc-card-header {
        display: inline-block;
    }
}

.virtual-scroll-container {
    height: 300px;
    width: 100%;
    overflow: auto;
  }

mat-list-item:hover{
    background: #e5f5ff;

}