<mat-card class="cardWithShadow">
  <mat-card-content >
    <div class="row justify-content-between m-l-4 m-r-4">
      <div class="col-left">

        <span *ngIf="isLoading" appearance="outline" class="w-100 m-b-0" color="primary">
          <app-content-loader  [loaderType]="'input'"></app-content-loader>
        </span>

        <mat-form-field *ngIf="!isLoading" appearance="outline" class="w-100 m-b-0" color="primary">
          <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
        </mat-form-field>

      </div>
      <div class="col-right m-r-30 m-t-2">
        <button *ngIf="!isLoading" [routerLink]="['/user-managemnt/user-profile']"  color="primary" mat-stroked-button>
          <i-tabler style="color: blue;" name="user-plus" class="icon-22">
          </i-tabler>
        </button>
        <app-content-loader *ngIf="isLoading" [loaderType]="'button'"></app-content-loader>

      </div>
    </div>
    
    <div class="table-responsive">
      <table  *ngIf="!isLoading" mat-table [dataSource]="dataSource" class="w-100">
    
        <ng-container matColumnDef="name">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-w-600 mat-subtitle-1 f-s-14"
          >
            Name
          </th>
          <td mat-cell *matCellDef="let element" class="mat-body-1">

          <app-user-thumbnail [item]="element" [hasActionIcon]="false" [iconName]="'circle-plus'"
                              [iconColor]="'rgb(10, 17, 219)'"></app-user-thumbnail>
          </td>
        </ng-container>

        <ng-container matColumnDef="role">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-w-600 mat-subtitle-1 f-s-14"
          >
            Role
          </th>
          <td mat-cell *matCellDef="let element">
            @if(element.role == 'ADMIN') {
              <span
              class="bg-light-error text-error rounded f-w-600 p-6 p-y-4 f-s-12 m-r-2"
            >
              {{ element.role | titlecase }}
            </span>
            <span
            class="bg-light-success text-success rounded f-w-600 p-6 p-y-4 f-s-12"
          >
          Full Access
          </span>
            }

            @if(element.role == 'SUB_ADMIN') {
              <span
              class="bg-light-error text-error rounded f-w-600 p-6 p-y-4 f-s-12 m-r-2"
            >
              {{ 'sub admin' | titlecase }}
            </span>
            <span
            class="bg-light-warning text-warning rounded f-w-600 p-6 p-y-4 f-s-12"
          >
          Read Access
          </span>
            }

            @if(element.role == 'USER') {
              <span
              class="bg-light-warning text-warning rounded f-w-600 p-6 p-y-4 f-s-12 m-r-2"
            >
              {{ element.role | titlecase }}
            </span>
            <span
            class="bg-light-primary text-primary rounded f-w-600 p-6 p-y-4 f-s-12"
          >
          Download
          </span>
            }
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-w-600 mat-subtitle-1 f-s-14"
          >
            Status
          </th>
          <td mat-cell *matCellDef="let element">
            @if(element.status == 'ACTIVE') {
             <mat-label class="label-active">ACTIVE</mat-label>
            }
            @if(element.status == 'DEACTIVATED'){
              <mat-label class="label-deactivated">DEACTIVETED</mat-label>
            }
            @if(element.status == 'ADMIN_VERIFICATION_PENDING'){
              <!-- <p> -->
                <mat-icon
                matTooltip="Admin verification pending"
                class="vibrate admin-verification-pending">admin_panel_settings</mat-icon>
              <!-- </p> -->
            }
            @if(element.status == 'REGISTRATION_OTP_VERIFICATION_PENDING'){
              <!-- <mat-label appearance="outlined">
                OTP Verification Pending
              </mat-label> -->
              
              <mat-icon
              matTooltip="OTP Verification pending"
              class="otp-verification-pending">app_blocking</mat-icon>
          
            }
          </td>
        </ng-container>

        <ng-container matColumnDef="created_date">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-w-600 mat-subtitle-1 f-s-14"
          >
            Created Date
          </th>
          <td mat-cell class="mat-body-1 f-s-12 f-w-600" *matCellDef="let element">
            {{element.createdAt}}
          </td>
        </ng-container>



        <!-- Symbol Column -->
        <ng-container matColumnDef="action">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-w-600 mat-subtitle-1 f-s-14"
          >Action</th>
          <td mat-cell *matCellDef="let element" class="mat-body-1">
            <a class="m-r-10 cursor-pointer" (click)="navigateToEdit(element)">
              <i-tabler name="edit" class="icon-22">
            </i-tabler>
            </a>
            <a class="m-r-10 cursor-pointer">
              <i-tabler (click)="warnRemoveAccount(element)" name="trash" class="icon-22 outline-red">
            </i-tabler>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <app-content-loader style="padding-top: 2px !important;"  *ngIf="isLoading" [loaderType]="'table'"></app-content-loader>
      <app-content-loader *ngIf="isLoading" [loaderType]="'paginator'"></app-content-loader>

    </div>
    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements">
</mat-paginator> -->

 <!-- Paginator -->
 <mat-paginator
 [style.visibility]="(!isLoading) ? 'visible' : 'hidden'"
 [length]="resultsLength"
 [pageSize]="pageSize"
 [pageSizeOptions]="[5, 10, 25, 100]"
 (page)="onPageChange()">
</mat-paginator>
  </mat-card-content>
</mat-card>
