th{
    padding-left: 0.7rem !important;
}

.outline-red {
    color: red;
}

.mat-mdc-card-header-text{
    display: contents !important;
}
.admin-verification-pending{
    color: rgb(228, 38, 38);
}

.otp-verification-pending{
    color: rgb(255 163 30 / 99%);
}

@keyframes vibrate {
    0% { transform: translateX(0); }
    20% { transform: translateX(-2px); }
    100% { transform: translateX(0); }
  }
  
  .mat-icon.vibrate {
    animation: vibrate 0.5s ease-in-out 3 !important; /* Vibrates infinitely with smooth easing */
    animation-delay: 1s !important; /* Delay before the vibration starts */
}
  