<mat-card class="cardWithShadow">
    <mat-card-content >
      <div class="row justify-content-between m-l-4 m-r-4">
        <div class="col-left">
          <mat-form-field *ngIf="!isLoadingResults" appearance="outline" class="w-100 m-b-0" color="primary">
            <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
          </mat-form-field>
        </div>
        <div class="col-right m-r-30 m-t-2">
        <app-content-loader *ngIf="isLoadingResults" [loaderType]="'button'"></app-content-loader>
          <button *ngIf="!isLoadingResults" color="primary" [routerLink]="'/document-managemnt/single-case'"  mat-stroked-button>
            <i-tabler style="color: blue;" name="file-plus" class="icon-28">
            </i-tabler>
          </button>
        </div>
      </div>
      
      <div class="table-responsive">
        <table *ngIf="!isLoadingResults" mat-table [dataSource]="dataSource" class="w-100">
      
          <ng-container matColumnDef="id">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="f-w-600 mat-subtitle-1 f-s-14"
            >
              Case ID
            </th>
            <td mat-cell *matCellDef="let element" class="mat-body-1">
  
  
            <div class="d-flex align-items-center">
            
           <div class="m-l-16">
            <h6 class="mat-body-1 f-s-12 f-w-600"> {{element.case_id}} </h6>
           </div>
            </div>
            </td>
          </ng-container>
  
          <ng-container matColumnDef="documents">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="f-w-600 mat-subtitle-1 f-s-14"
            >
              Documents
            </th>
            <td mat-cell *matCellDef="let element">
                <i-tabler name="file-type-pdf" class="icon-22">
                </i-tabler>
                {{element.documents.length}}
            </td>
          </ng-container>         
  
          <ng-container matColumnDef="last_updated">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="f-w-600 mat-subtitle-1 f-s-14"
            >
              Last Updated Date
            </th>
            <td mat-cell class="mat-body-1 f-s-12 f-w-600" *matCellDef="let element">
              {{element.updatedAt | date:'dd MMM yyyy, HH:mm:ss'}}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr (click)="navigateSingleCase(row)" mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <app-content-loader style="padding-top: 2px !important;"  *ngIf="isLoadingResults" [loaderType]="'table'"></app-content-loader>
      <app-content-loader *ngIf="isLoadingResults" [loaderType]="'paginator'"></app-content-loader>
      </div>
      <mat-paginator
      [style.visibility]="(!isLoadingResults) ? 'visible' : 'hidden'"
      [length]="resultsLength"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 25, 100]"
      (page)="onPageChange()">
     </mat-paginator>
    </mat-card-content>
  </mat-card>
  