<ng-container *ngIf="isOtpEnable && !isRegisterEnable">
  <app-otp [otpType]="otpType" ></app-otp>
</ng-container>

<ng-container *ngIf="isRegisterEnable && !isOtpEnable">
<div
  class="blank-layout-container justify-content-center align-items-center bg-light"
>
  <div
    class="position-relative row w-100 h-100 p-t-20 bg-gredient justify-content-center"
  >
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">
          <div class="text-center">
            <a [routerLink]="['/dashboard']">
              <!-- <img
                src="./assets/images/logos/logo.svg"
                class="align-middle m-2"
                alt="logo"
              /> -->
            </a>
          </div>

        
          <form [formGroup]="form" class="m-t-30">
            <!-- Name -->
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Name</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput formControlName="name" placeholder="Enter your name" />
              <mat-error *ngIf="f['name'].hasError('required') && (f['name'].touched || f['name'].dirty)">
                Name is required.
              </mat-error>
              <mat-error *ngIf="f['name'].hasError('minlength') && (f['name'].touched || f['name'].dirty)">
                Name must be at least 6 characters long.
              </mat-error>
              <mat-error *ngIf="f['name'].hasError('maxlength') && (f['name'].touched || f['name'].dirty)">
                Name cannot exceed 50 characters.
              </mat-error>
            </mat-form-field>
          
            <!-- Email -->
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Email Address</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput formControlName="email" type="email" placeholder="Enter your email" />
              <mat-error *ngIf="f['email'].hasError('required') && (f['email'].touched || f['email'].dirty)">
                Email is required.
              </mat-error>
              <mat-error *ngIf="f['email'].hasError('email') && (f['email'].touched || f['email'].dirty)">
                Enter a valid email address.
              </mat-error>
            </mat-form-field>
          
            <!-- Mobile Number -->
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Mobile Number</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <span matTextPrefix>+94 &nbsp;</span>
              <input matInput formControlName="mobileNumber" type="tel" placeholder="71-222-2222" />
              <mat-error *ngIf="f['mobileNumber'].hasError('required') && (f['mobileNumber'].touched || f['mobileNumber'].dirty)">
                Mobile number is required.
              </mat-error>
              <mat-error *ngIf="f['mobileNumber'].hasError('pattern') && (f['mobileNumber'].touched || f['mobileNumber'].dirty)">
                Enter a valid 9-digit mobile number.
              </mat-error>
            </mat-form-field>
            
          
            <!-- Password -->
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Password</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput formControlName="password" type="password" placeholder="Enter your password" />
              <mat-icon
              matSuffix
              *ngIf="f['password'].invalid && (f['password'].touched || f['password'].dirty)"
              matTooltip="Password must be at least 8 characters long.
        Password must include an uppercase letter, a number, and a minimum of 8 characters.
        Confirm Password">
              error
            </mat-icon>
              <mat-error *ngIf="f['password'].hasError('required') && (f['password'].touched || f['password'].dirty)">
                Password is required.
              </mat-error>
            </mat-form-field>
            
          
            <!-- Confirm Password -->
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Confirm Password</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput formControlName="confirmPassword" type="password" placeholder="Confirm your password" />
              <mat-error
              *ngIf="f['confirmPassword'].hasError('required') && (f['confirmPassword'].touched || f['confirmPassword'].dirty)">
              Confirm Password is required.
            </mat-error>
            <mat-error *ngIf="f['confirmPassword'].hasError('passwordsMismatch') && (f['confirmPassword'].touched || f['confirmPassword'].dirty)">
              Passwords do not match.
            </mat-error>
            </mat-form-field>
            
          
            <!-- Submit Button -->
            <button (click)="submit()" mat-flat-button color="primary" class="w-100" [disabled]="form.invalid">
              Sign Up
            </button>
          </form>
          
          <span class="d-block f-w-500 text-center m-t-24"
            >Already have an Account?

            <a
              [routerLink]="['/authentication/login']"
              class="text-decoration-none text-primary f-w-500 f-s-14"
            >
              Sign In</a
            >
          </span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
</ng-container>
