/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: white !important;
}


/* Change border color on hover */
.mdc-text-field--outlined:not(.mdc-text-field--disabled):hover .mat-mdc-notch-piece {
    border-color: rgb(67, 205, 247) !important;
  }
  
  /* Optional: Ensure active (focused) state retains the desired color */
  .mdc-text-field--outlined.mdc-text-field--focused .mat-mdc-notch-piece {
    border-color: rgb(67, 205, 247) !important;
  }