<div class="container">

    <p><mat-slide-toggle  (change)="onToggleChange()" [(ngModel)]="isAdmin">{{ isAdmin ? 'Admin View': 'User View'}}</mat-slide-toggle></p>

    <div *ngIf="!isUpload" class="row">
        <div class="col">
            <mat-card class="b-1 shadow-none">
            
              <mat-card-content>
                <form [formGroup]="form">
                  <div class="row">
                    <div class="col">
                      <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-2 d-block">
                        <i-tabler *ngIf="!isAdmin" style="color: black; vertical-align: middle; margin-bottom: 3px;" name="lock" class="icon-22">
                        </i-tabler>
                        Case ID 
                      </mat-label>
                      <mat-form-field appearance="outline" class="w-100 m-b-0" color="primary">
                        <input formControlName="case_id" matInput [disabled]="!isAdmin" placeholder="" value="CASE_NOV_102">
                        <mat-error *ngIf="f['case_id'].hasError('required') && (f['case_id'].touched || f['case_id'].dirty)">
                          Case ID is required.
                        </mat-error>
                        <mat-error *ngIf="f['case_id'].hasError('minlength') && (f['case_id'].touched || f['case_id'].dirty)">
                          Case ID must be at least 3 characters long.
                        </mat-error>
                        <mat-error *ngIf="f['case_id'].hasError('maxlength') && (f['case_id'].touched || f['case_id'].dirty)">
                          Case ID cannot exceed 50 characters.
                        </mat-error>
                      </mat-form-field>
                    </div>
              
                    <div class="col">
                      <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-2 d-block">
                        <i-tabler *ngIf="!isAdmin" style="color: black; vertical-align: middle; margin-bottom: 3px;" name="lock" class="icon-22">
                        </i-tabler>
                        Description</mat-label>
                      <mat-form-field appearance="outline" class="w-100 m-b-0" color="primary">
                        <textarea formControlName="description" [disabled]="!isAdmin" matInput value="Test Description about case" ></textarea>
                      
                        <mat-error *ngIf="f['description'].hasError('maxlength') && (f['description'].touched || f['description'].dirty)">
                          Name cannot exceed 300 characters.
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                
                  <mat-card-actions *ngIf="isAdmin" align="end">
                    <!-- <button >Delete</button> -->
                    <button type="button" (click)="clickBack()"  mat-stroked-button color="warn" class="m-r-10">
                      <mat-icon style=" font-size: 1.4rem;">arrow_back</mat-icon>
                      Back</button>
                    <button type="button" mat-flat-button color="primary" (click)="clickCreateCase()" [disabled]="form.invalid || isReadOnly" class="m-r-8">Save This</button>
                    
                  </mat-card-actions>
                  
                </form>
              </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div *ngIf="isUpload && isAdmin" class="row justify-content-start">
      <button mat-button (click)="backToCase()" >
        <mat-icon style="    font-size: 1.4rem;">arrow_back</mat-icon>
                            </button>
      <app-file-upload-ui [caseId]="caseId" (backToCaseDetails)="handleBackToCaseDetailsEvent($event)" ></app-file-upload-ui>
    </div>
   <div *ngIf="!isUpload" class="row">
    <div class="col" *ngIf="!isCaseCreation">
        <mat-card class="document-card b-1 shadow-none">
            <mat-card-header>
              <div class="row justify-content-between">
                <div class="col p-t-4">
                  <mat-label class="mat-subtitle-1 f-s-18 f-w-600">
                    Documents ({{documentTableData.length}})
                  </mat-label>
                </div>
              </div>
              <div class="row justify-content-between">
                
                <div class="col-sm-6 col-md-6 col-lg-6 p-t-6" *ngIf="isAdmin">
                  <button [disabled]="enableDownloadSelected || isReadOnly" mat-stroked-button (click)="openFileUploadDialog()">
                    <mat-icon style="color: #4456e9;" aria-hidden="false">upload_file</mat-icon>
                    Upload Files
                  </button>
                
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 p-t-6">
                  <button *ngIf="!enableDownloadSelected" [disabled]="(!(selection.hasValue() && (selection.selected.length <= 5)))" mat-stroked-button (click)="downloadConfirm()">
                    <mat-icon style="color: #24db0e;" aria-hidden="false">download_file</mat-icon>
                    Download Files
                  </button>

                  <button class="download-mat-spinner" *ngIf="enableDownloadSelected" [disabled]="true" mat-stroked-button>
                    <mat-icon><mat-spinner color="accent" diameter="20">
                    </mat-spinner></mat-icon>
                    Download Files
                  </button>
                
                </div>
              </div>
                
              </mat-card-header>
        <mat-card-content  >
            
              <div class="col-left" *ngIf="!isCaseCreation">
                <mat-form-field appearance="outline" class="w-50 m-b-0" color="primary">
                  <input  matInput (keyup)="applyFilter($event)" placeholder="Filter">
                </mat-form-field>
              </div>
             
            <div class="table-responsive" *ngIf="!isCaseCreation">
              <div class="justify-content-between">
                <div class="row">
                  <!-- <div class="col align-items-start">
                    <mat-checkbox (change)="$event ? toggleAllRows() : null" [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                    {{checkboxLabel()}}
                  </div> -->
                  <div class="col align-items-start d-flex align-items-center gap-2">    
                    <!-- <span class="cursor-pointer">
                      <i-tabler style="color: red; vertical-align: middle; margin-bottom: 3px;" name="trash" class="icon-22">
                      </i-tabler>
                      <mat-label class="p-5 align-middle">Delete Selected</mat-label>
                    </span> -->
                  </div>
                </div>
              </div>
              <table mat-table [dataSource]="dataSource" class="w-100">
                
                <ng-container matColumnDef="select">
                  <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? toggleAllRows() : null"
                                  [checked]="selection.hasValue() && isAllSelected()"
                                  [indeterminate]="selection.hasValue() && !isAllSelected()"
                                  [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()"
                                  (change)="$event ? selection.toggle(row) : null"
                                  [checked]="selection.isSelected(row)"
                                  [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                  </td>
                </ng-container>

                <ng-container matColumnDef="document_name">
                  
                    <td mat-cell *matCellDef="let element" class="mat-body-1">
                        <div class="d-flex align-items-center">
                          <i-tabler style="color: rgb(190, 8, 8); font-weight: bold;" name="file-type-pdf" class="icon-20"></i-tabler>
                          <div class="d-flex flex-column">
                            <!-- File Name -->
                            <div>{{ element.document_name }}</div>
                      
                            <!-- File Size -->
                            <div style="font-size: 12px; color: gray; line-height: 1;">{{ element.file_size }}MB</div>
                          </div>
                      
                          <!-- <a (click)="downloadConfirmForIconClick(element.file_url, element.document_name)" class="cursor-pointer" *ngIf="isAdmin">
                            <i-tabler style="color: rgb(16, 152, 6); font-weight: bold;" name="download" class="icon-22"></i-tabler>
                          </a> -->
                        </div>
                      </td>
                      
                </ng-container>
        
        
                <!-- Symbol Column -->
                <ng-container matColumnDef="action">
                  
                  <td mat-cell *matCellDef="let element" class="mat-body-1">
                    <div class="d-flex justify-content-center gap-4">
                      <a class="cursor-pointer" *ngIf="isAdmin" >
                      <i-tabler name="edit" class="icon-22">
                    </i-tabler>
                    </a>
                    <a class="cursor-pointer" *ngIf="isAdmin" >
                        <i-tabler style="color: red;" name="trash" class="icon-22">
                      </i-tabler>
                      </a>

                      <a class="cursor-pointer" *ngIf="!isAdmin">
                        <i-tabler style="color: rgb(16, 152, 6); font-weight: bold;" name="download" class="icon-22"></i-tabler>
                      </a>
                    </div>
                  </td>
                </ng-container>
        
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              </table>
            </div>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]"
            showFirstLastButtons
            aria-label="Select page of periodic elements">
        </mat-paginator>
          </mat-card-content>
        </mat-card>
    </div>

    <!-- <div class="col-md-5">
        <mat-card class="b-1 shadow-none">
            <mat-card-header>
                <mat-card-title  class="m-t-8 m-b-0">Allowed Members ({{userTableData.length}})</mat-card-title>
              </mat-card-header>
            <mat-card-content>
                 
                <div class="col-left m-b-6">
                    <mat-form-field style="margin-top: -0.06rem !important;" appearance="outline" class="w-100 m-b-0" color="primary">
                      <input matInput  placeholder="Filter">
                    </mat-form-field>
                  </div>
                  
                  <mat-list>
                    @for(userItem of userTableData; track userItem.user_id) {
                    <mat-list-item>
                        <div class="row justify-content-between m-l-4 m-r-4">
                          <app-user-thumbnail  [item]="userItem"></app-user-thumbnail>    
                        </div>

                    </mat-list-item>
                }
                    
                  </mat-list>
              
            </mat-card-content>
          </mat-card>
    </div> -->
   </div>
   <div class="row">
    <div class="col">
      <mat-accordion *ngIf="!isCaseCreation && isAdmin && !isUpload" class="m-r-8" mat-flat-button color="warn">
        <mat-expansion-panel [expanded]="false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Remove This Case
              <mat-icon>delete</mat-icon>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-panel-description style="justify-content: center;">
          <button (click)="deleteConfirmation()" *ngIf="!isCaseCreation" [disabled]="isReadOnly" class="m-r-8" mat-flat-button color="warn">Delete</button>
        </mat-panel-description>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
   </div>
  </div>
  