.mat-column-select {
    padding-right: 0 !important;
}

.document-card {
    .mat-mdc-card-header {
        display: inline-block;
    }
}

.download-mat-spinner{
    mat-spinner{
    width: 18px !important;
    height: 18px !important;
    }
}